.admin-reportes-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.reporte-box {
  background: white;
  padding: 20px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.reporte-box h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #0d6efd;
  color: white;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f5f5f5;
}
