/* ----------- ESTILOS GENERALES ----------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f8;
}

/* ----------- HOME ----------- */
.home-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/img/padel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.home-content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 700px;
  padding: 20px;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #f0f0f0;
}

.start-btn {
  background-color: #00bfa6;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-btn:hover {
  background-color: #009e8f;
  transform: scale(1.05);
}


/* ----------- LOGIN Y REGISTER ----------- */
.page-container {
  text-align: center;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #0062ff, #00bfff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.login-card {
  background-color: white;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 380px;
}

.login-title {
  font-size: 22px;
  color: #222;
  margin-bottom: 10px;
}

.login-subtitle {
  color: #555;
  margin-bottom: 25px;
  font-size: 15px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.login-btn {
  width: 100%;
  background: #0062ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn:hover {
  background: #004ecc;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.register-text {
  margin-top: 20px;
  color: #555;
}

.register-link {
  color: #0062ff;
  font-weight: bold;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: underline;
}