.navbar-container {
  width: 100%;
  padding: 15px 40px;
  background-color: #073b3a; /* VERDE OSCURO */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo-img {
  width: 38px;
  height: 38px;
}

.navbar-title {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s ease;
}

.navbar-links a:hover {
  opacity: 0.8;
}

.logout-btn {
  background-color: transparent;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: rgba(255, 77, 77, 0.25);
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  font-size: 28px;
}

@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: #073b3a;
    width: 100%;
    padding: 20px 0;
    transform: translateY(-300px);
    transition: 0.3s ease;
  }

  .navbar-links.open {
    transform: translateY(0);
  }

  .navbar-toggle {
    display: block;
  }
}
